@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Khand", sans-serif; }

img {
  max-width: 100%;
  height: auto; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.heading-primary {
  text-transform: uppercase;
  font-family: "PT Mono", monospace;
  color: #fff;
  backface-visibility: hidden;
  animation: moveInLeft 1s ease-out;
  font-size: 3.5rem; }
  .heading-primary--sub {
    border-left: 2px solid #fdd835;
    padding: 0.5rem;
    animation: moveInRight 1s ease-out;
    transition: all 0.2s;
    font-size: 2rem; }
    .heading-primary--sub:hover {
      padding-left: 1rem; }
  .heading-primary__link {
    text-decoration: none; }
    .heading-primary__link:link, .heading-primary__link:visited, .heading-primary__link:focus, .heading-primary__link:hover {
      color: #fdd835; }

.heading-secondary {
  text-transform: uppercase;
  font-family: "PT Mono", monospace;
  font-size: 2.5rem;
  color: #1e88e5;
  padding: 0.3rem 0;
  position: relative;
  margin-bottom: 1.5rem; }
  .heading-secondary::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 3px;
    border-radius: 5px;
    width: 30%;
    height: 3px;
    background-color: #1e88e5; }

.heading-tertiary {
  font-family: "PT Mono", monospace;
  font-size: 2rem;
  text-transform: uppercase;
  color: inherit;
  margin: 1rem; }

.paragraph {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0;
  font-size: 2rem; }
  .paragraph--accent {
    font-weight: 600;
    color: #1e88e5; }

.learn-more {
  border: 2px solid #fff;
  color: inherit;
  border-bottom: 1px solid inherit;
  font-size: 2rem;
  background-color: transparent;
  padding: 1rem;
  border-radius: 5px;
  font-family: inherit;
  display: block;
  margin: 2rem;
  transition: all 0.2s; }
  .learn-more--dark {
    border-color: #000;
    color: #000; }
  .learn-more:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    font-weight: 400; }

.cta {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  border-radius: 5px;
  background-color: #fff;
  color: inherit;
  text-transform: uppercase;
  transition: all 0.3s; }
  .cta:hover {
    box-shadow: 6px 6px 6px #808080; }

.navigation {
  display: flex;
  flex-flow: row nowrap;
  font-size: 2rem;
  padding: 1rem;
  position: relative; }
  .navigation__logo {
    margin-right: auto; }
  .navigation__btn {
    position: relative;
    margin: auto 1rem; }
  .navigation__img {
    width: 5.5rem; }
  .navigation__checkbox {
    display: none; }
  .navigation__icon {
    position: relative; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 4rem;
      display: inline-block;
      height: 0.5rem;
      border-radius: 10px;
      background-color: #fdd835;
      transition: all 0.2s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      background-color: #f44336;
      top: -1rem; }
    .navigation__icon::after {
      background-color: #1e88e5;
      top: 1rem; }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
    top: 0;
    transform: rotate(135deg); }
  .navigation nav {
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.2s;
    z-index: 10;
    width: 80vw;
    height: 100vh; }
  .navigation__nav {
    display: flex;
    flex-flow: column wrap;
    font-size: 3rem;
    list-style-type: none;
    justify-content: center;
    transition: all 0.3s;
    width: 80vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #f44336 0 25%, #fdd835 25% 77%, #1e88e5 77% 100%); }
  .navigation__checkbox:checked ~ nav {
    left: 0; }
  .navigation__item {
    text-align: center;
    padding: 0; }
  .navigation__link {
    text-decoration: none;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
    transition: all 0.3s; }
    .navigation__link:link, .navigation__link:visited {
      color: #000; }
    .navigation__link:focus, .navigation__link:hover {
      background-color: #1e88e5;
      color: #fdd835; }

.header {
  height: 80vh;
  background-size: cover;
  background-image: url(../img/hero-background.jpg);
  position: relative; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* ------ABOUT SECTION------ */
.about {
  display: flex;
  flex-flow: column wrap;
  padding: 9rem 2rem;
  align-items: center; }

/* ------FEATURES SECTION------ */
.features {
  background-color: #ba160a; }
  .features__box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 2rem;
    color: #fff; }
    .features__box--tertiary {
      background-color: #fdd835;
      color: #000; }
    .features__box--secondary {
      background-color: #10538d; }
  .features__img {
    width: 100px;
    display: block;
    text-align: center;
    margin: 2rem; }

/* ------PRICING SECTION------ */
.pricing {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 9rem 2rem; }
  .pricing__card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex: 100%;
    max-width: 40rem;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 3rem; }
    .pricing__card--1 {
      border: 2px solid #1e88e5; }
    .pricing__card--2 {
      border: 2px solid #e2be1d; }
    .pricing__card--3 {
      border: 2px solid #f12314; }
    .pricing__card:hover {
      transform: translateY(-6px);
      box-shadow: 0 6px 6px rgba(128, 128, 128, 0.7); }
  .pricing__picture {
    height: 25rem;
    display: block;
    width: 100%;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 100%, 0 74%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 100%, 0 74%); }
    .pricing__picture--1 {
      background-image: linear-gradient(to right bottom, #77bbf6, #115794), url(../img/standard2.jpg); }
    .pricing__picture--2 {
      background-image: linear-gradient(to right bottom, #fdd835, #e2be1d), url(../img/wonder.jpg); }
    .pricing__picture--3 {
      background-image: linear-gradient(to right bottom, #f5776e, #f12314), url(../img/super.jpg); }
  .pricing__list {
    list-style-type: none;
    font-size: 2rem;
    background-color: #fff;
    padding: 2rem; }
  .pricing__item {
    margin: 1rem 0; }
  .pricing__item:not(:last-of-type) {
    border-bottom: 1px dotted #808080; }
  .pricing__heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 2rem; }
    .pricing__heading--main {
      flex: 100%; }
    .pricing__heading--1 {
      color: #115794; }
    .pricing__heading--2 {
      color: #e2be1d; }
    .pricing__heading--3 {
      color: #f12314; }
    .pricing__heading--sub {
      font-style: italic;
      font-size: 1.5rem;
      display: block;
      color: inherit; }
    .pricing__heading--price {
      font-weight: 500;
      text-align: center;
      color: #fff;
      font-size: 3rem;
      display: block;
      padding: 0.5rem; }
      .pricing__heading--price--1 {
        background-color: #1e88e5; }
      .pricing__heading--price--2 {
        background-color: #fdd835;
        color: #000; }
      .pricing__heading--price--3 {
        background-color: #f44336; }
  .pricing__buy {
    display: flex;
    flex-flow: column wrap;
    height: 10rem;
    align-items: center;
    justify-content: center;
    margin-top: auto; }
    .pricing__buy--1 {
      background-image: linear-gradient(to bottom, #77bbf6, #115794); }
    .pricing__buy--2 {
      background-image: linear-gradient(to bottom, #fde680, #e2be1d); }
    .pricing__buy--3 {
      background-image: linear-gradient(to bottom, #f5776e, #f12314); }

/* ------TESTIMONIALS SECTION------ */
.testimonials {
  padding: 2rem;
  background-color: #e2be1d;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch; }
  .testimonials__heading {
    flex: 100%;
    margin: 10rem 0;
    text-align: center; }
  .testimonials__box {
    flex: 100%;
    background-color: #fdd835;
    margin-bottom: 2rem; }
  .testimonials__content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-items: center;
    padding: 0.8rem;
    margin: 5rem 0;
    position: relative; }
  .testimonials__text::before {
    content: "”";
    color: #fff;
    font-size: 20rem;
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 6.5rem;
    left: 2rem; }
  .testimonials__img {
    width: 10rem;
    display: block;
    margin: 1rem; }
  .testimonials__name {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600; }
    .testimonials__name::before, .testimonials__name::after {
      content: " — "; }

.footer {
  background-color: #115794;
  color: #fff;
  padding: 6rem 3rem; }
  .footer__box {
    display: flex;
    flex-flow: column wrap;
    color: #fff;
    padding: 2rem;
    font-size: 1.7rem; }
  .footer__box:not(:last-of-type) {
    margin-bottom: 4rem; }
  .footer__logo {
    display: block;
    width: 8rem;
    margin: 1rem; }
  .footer__social--img {
    display: inline-block;
    width: 4rem;
    margin: 2rem 1rem;
    transition: all 0.2s; }
    .footer__social--img:hover {
      transform: translateY(-5px); }
  .footer__list {
    padding: 1rem;
    list-style-type: square; }
  .footer__item {
    border-bottom: 1px dotted #fff;
    padding: 1rem 0; }
  .footer__link {
    font-size: 1.7rem;
    display: inline-block;
    transition: all 0.2s;
    text-decoration: none; }
    .footer__link:link, .footer__link:visited {
      color: #fff; }
    .footer__link:focus, .footer__link:hover {
      color: #fde680;
      transform: translateX(5px); }
    .footer__link--credits {
      text-decoration: underline; }
  .footer__input, .footer__submit {
    background-color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px; }
  .footer__credits {
    background-color: #115794; }
