$color-primary: #f44336;
$color-primary-light: #f5776e;
$color-primary-dark: #f12314;
$color-secondary-light: #77bbf6;
$color-secondary: #1e88e5;
$color-secondary-dark: #115794;
$color-tertiary-light: #fde680;
$color-tertiary: #fdd835;
$color-tertiary-dark: #e2be1d;
$color-grey: #808080;
$color-grey-light: #dfd5d5;
$bp-large: 75em; //1200px
$bp-medium: 62.5em; //1000px
$bp-small: 43.75em; //700px
$bp-smallest: 40.625em; //650px
