$color-primary: #f44336;
$color-primary-light: #f5776e;
$color-primary-dark: #f12314;
$color-secondary-light: #77bbf6;
$color-secondary: #1e88e5;
$color-secondary-dark: #115794;
$color-tertiary-light: #fde680;
$color-tertiary: #fdd835;
$color-tertiary-dark: #e2be1d;
$color-grey: #808080;
