.header {
  height: 80vh;
  background-size: cover;
  background-image: url(../img/hero-background.jpg);
  position: relative;

  @media screen and (min-width: $bp-medium) {
    padding: 20rem 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
