.navigation {
  @include flex-row;

  font-size: 2rem;
  padding: 1rem;
  position: relative;

  &__logo {
    margin-right: auto;
  }

  &__btn {
    position: relative;
    margin: auto 1rem;
  }

  &__img {
    width: 5.5rem;
  }

  &__checkbox {
    display: none;
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 4rem;
      display: inline-block;
      height: 0.5rem;
      border-radius: 10px;
      background-color: $color-tertiary;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      background-color: $color-primary;
      top: -1rem;
    }

    &::after {
      background-color: $color-secondary;
      top: 1rem;
    }
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }

  nav {
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.2s;
    z-index: 10;
    width: 80vw;
    height: 100vh;
  }

  &__nav {
    @include flex-col;

    font-size: 3rem;
    list-style-type: none;

    justify-content: center;
    transition: all 0.3s;

    width: 80vw;
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      $color-primary 0 25%,
      $color-tertiary 25% 77%,
      $color-secondary 77% 100%
    );
  }
  &__checkbox:checked ~ nav {
    left: 0;
  }
  &__item {
    text-align: center;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
    transition: all 0.3s;
    &:link,
    &:visited {
      color: #000;
    }
    &:focus,
    &:hover {
      background-color: $color-secondary;
      color: $color-tertiary;
    }
  }
}
