.learn-more {
  border: 2px solid #fff;
  color: inherit;
  border-bottom: 1px solid inherit;
  font-size: 2rem;
  background-color: transparent;
  padding: 1rem;
  border-radius: 5px;
  font-family: inherit;
  display: block;
  margin: 2rem;
  transition: all 0.2s;

  &--dark {
    border-color: #000;
    color: #000;
  }

  &:hover {
    transform: translateY(-3px);

    box-shadow: 0 6px 12px rgba($color: #000, $alpha: 0.7);
    font-weight: 400;
  }
}
