* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This define 1 rem. And 1 rem = 10px
  font-size: 62.5%; // 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Khand", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
